@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Flavors&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Monda&display=swap");

.sign-up {
  background-image: url("https://i.imgur.com/IOHQQHk.png");
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Monda", sans-serif;
}

.sign-up .description h1 {
  font-family: "Flavors", cursive;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.sign-up .col {
  margin: 5rem;
}

.sign-up .form-box {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  color: black;
}
